NODE_ENV=development

DATABASE_HOST=localhost
DATABASE_USER=psych-analysis
DATABASE_PASSWORD=psych-analysis123
DATABASE_NAME=psych-analysis
DATABASE_PORT=5432

KAFKA_BROKER=localhost:9092
KAFKA_CLIENT_ID=psych-analysis
KAFKA_CONSUMER_GROUP=psych-analysis-consumer
KAFKA_RETRY_COUNT=8

KAFKAJS_NO_PARTITIONER_WARNING=1